* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,h3{
    font: inherit;
}
@mixin flex($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
  }
body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  @include flex(flex,center ,center );
  text-align: center;
}

ul {
  list-style: none;
}
main {
  width: 60%;
  h1 {
    margin: 25px 0;
    font-size: 22px;
    font-weight: 700
  }
  h3 {
    font-weight: 700;
    margin-bottom: 7px;
  }
  .container {
    @include flex(flex,space-around ,center );
    .courses-container {
      width: 200px;
      height: 300px;
      border: 1.5px solid black;
      overflow: auto;
      padding-top: 16px;
      li{
        border: 1px solid black;
        font-size: 14px;
      }
      li:nth-child(2n+1){
        background-color: #DCEEDC;
      }
      li.clicked{
        background-color: blue;
      }
    }
  }
  .total-credit {
    @include flex(flex,center ,center );
    margin: 25px 0;
    button {
      margin-left: 8px;
      padding: 0 4px;
    }
  }
}


